@import "../styles/vars.scss";


.title {
    text-align: center;
}

.date {
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    margin: 0;
  }

  .body {
    margin-bottom: 2rem;
  }
