$black: #3d4447;

$white: #f7eed3;
$grey: #838c74e1;
$halfgrey: #838c7463;

$sand: #cca367;
$main: #d37432;
$complement: #6e2f1d;
$accent: #6ba7ae;

$aura: radial-gradient(
  circle at 50% 50%,
  #6ba7ae,
  #5ba8a0,
  #5ba78a,
  #69a46e,
  #809e51,
  #9b9438,
  #b8872b,
  #d37432
);

$glint: linear-gradient(#838c74e1, #838c74e1);
$lightglint: linear-gradient(#838c7463, #838c7463);

$regular: clamp(1rem, 2vmin, 2rem);

// dark mode
$darkaura: radial-gradient(
  circle at 50% 50%,
  #620141,
  #660a29,
  #601c17,
  #542a0b,
  #47340b,
  #3a3a15,
  #2f3f23,
  #294131
);
