$black: #3d4447;

$white: #f7eed3;
$grey: #838c74e1;
$halfgrey: #838c7463;

$main: #d37432;
$complement: #6e2f1d;
$accent: #6ba7ae;

$aura: radial-gradient(
  circle at 50% 50%,
  #6ba7ae,
  #5ba8a0,
  #5ba78a,
  #69a46e,
  #809e51,
  #9b9438,
  #b8872b,
  #d37432
);

$glint: linear-gradient(135deg, #838c74e1 5%, #838c7463 30%, #838c74e1);
$lightglint: linear-gradient(135deg, #838c7463 5%, #838c7400 30%, #838c7463);

$scrollbarBG: #d37432;
$thumbBG: #6ba7ae;

$regular: clamp(1rem, 2vmin, 2rem);