@import "../styles/vars.scss";
  



  .nav-item {
    border-radius: 0.5rem;
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -0.3rem;
    line-height: 90%;


    .link{
      text-decoration: none;
      color: $black;
      font-weight: normal;


    }

    .link:hover{
      text-decoration: none;
      color: $black;
    }

    .link:focus{
      text-decoration: none;
      color: $black;
    }

    .link:active{
      text-decoration: none;
      color: $black;
    }

    .link:visited{
      text-decoration: none;
      color: $black;
    }
  }
  
  .nav-item:hover {
    cursor: pointer;
    background-image: $glint;
  }
  
  .nav-item h2 {
    margin: 0;
  }



  @media (max-width: 860px) {
  
    .nav-item {
      border-radius: 0;
  
      border-left: 1px $grey solid;
      padding: 0.5rem 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      writing-mode: horizontal-tb;
      text-orientation: upright;
      letter-spacing: 0;

      flex-grow: 1;
    }
  
    .nav-item:hover {
      border-radius: 0.5rem;
      cursor: pointer;
      background-image: $glint;
    }
  


    // .active-nav-item::before{
    //   content: "❈ ";
    //     }
      
    //     .active-nav-item::after{
    //       content: " ❈";
    //         }
  }

  .active-nav-item::before{
content: "❈ ";
  }

  .active-nav-item::after{
    content: " ❈";
      }


   