@import "../styles/vars.scss";

.vignette {

  a {
    text-decoration: none;
  }

  a:hover{
    color: $black;
  }

  .singlepost {
    padding: 1rem 1rem 1.5rem;
    border-radius: 0.5rem;
    width: 100%;
    margin-top: 1rem;
    background: $halfgrey;
  }

  .singlepost:hover {
    cursor: pointer;
    background-image: $glint;
  }

  .singlepost h3 {
    margin: 0;
  }
}
